<div>
    <span> this is the combat html which is heavily WIP still </span><br \>
    {{#if ui.hasFatiguePoints}}
    <span> Number of fatigue point you want to use </span>
    <input type="text" name="defender.combat.fatigueUsed" min="0" value="{{defender.combat.fatigueUsed}}" /><br \>
    {{/if}}

    <span> Modifier to the attack </span>
    <input type="text" name="defender.combat.modifier" value="{{defender.combat.modifier}}" /><br \>

    <span> where you set how you attack physically </span><br \>
    <select name="defender.combat.weaponUsed">
        {{#each defender.combat.weaponsList}}
        <option value="{{this._id}}" {{#if (eq this._id ../defender.combat.weaponUsed)}}selected{{/if}}> {{this.name}} </option>
        {{/each}}
    </select>

    <select name="defender.combat.defenseType">
        <option value="block" {{#if (eq "block" defender.combat.defenseType)}}selected{{/if}}> Block </option>
        <option value="dodge" {{#if (eq "dodge" defender.combat.defenseType)}}selected{{/if}}> Dodge </option>
    </select>


    {{#if this.defenseSent}}
    <div>
        <span> the defense has been sent </span>
    </div>
    {{else}}
    <button class="sendNormDefense">
        Send Defense
    </button>
    {{/if}}
</div>